body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', serif;
  max-width:1920px;
  margin:0px auto;
}

.content {
    max-width:1140px;
    margin:0px auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
flex-direction: column;

}

.vertical_row{
    display: flex;
}

.vertical_column {
    flex:0 2 50%;
    
}

.main-footer {
      max-width:1920px;
}
