body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', serif;
  max-width:1920px;
  margin:0px auto;
}

.content {
    max-width:1140px;
    margin:0px auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
flex-direction: column;

}
.site-navigation {
    list-style-type: none;
  
}
li {
    display: inline;
}


.vertical_row{
    display: flex;
}
.contact_nav {
    width: 66px;
height: 16px;
top: 40px;

font-family: Roboto;
font-size: 14px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
color: #000000;
text-decoration: none;

}

.blog_nav {
    width: 31px;
height: 16px;
top: 40px;
left: 109px;

font-family: Roboto;
font-size: 14px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
color: #000000;
margin: 50px;
text-decoration: none;
}
.site-navigation-button-free {
    font-family: Roboto;
font-size: 14px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0em;
text-align: center;

    width: Hug (192.98px);
    height: Hug (32px);
    padding: 8px 18.979995727539062px 8px 13px;
    border-radius: 6px;
    border: 1px;
    gap: 6px;
    color: #B6BCC3;
margin: 930px;
    
}

.site-navigation-button-year{
    width: Hug (206.91px);
height: Hug (32px);
padding: 6px 16.910003662109375px 6px 17px;
border-radius: 6px;

font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
background: #004077;

color: #FFFFFF;

margin:1050px 1050px 0 15px;

}



.vertical_row_first {
    margin:50px 0 50px 0;
    display: flex;
    flex: 0 1 33%;
}
.vertical_row_second {
    margin:50px 0 50px 0;
    display: flex;
    flex: 0 1 33%;
}
.vertical_row_tree {
    margin:50px 0 50px 0;
    display: flex;
    flex: 0 1 33%;
}
.vertical_row_four {
     margin:50px 50px 50px 0;
    display: flex;
    flex: 0 1 33%;
}

.vertical_column {
    width: 368px;
height: 244px;
top: 138px;
left: 384px;
padding: 32px;
border-radius: 8px;

    margin-right: 50px;
    background: linear-gradient(0deg, rgba(0, 64, 119, 0.8) 0%, rgba(0, 64, 119, 0) 125.2%),
linear-gradient(180deg, #FFFFFF 0%, rgba(252, 252, 252, 0) 100%);

}

.vertical_label {
    width: 304px;
height: 78px;
top: 8px;
padding: 0px 31.04998779296875px 1px 0px;

    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    
}

.vertical_date {
    width: 181.27999877929688px;
    height: 16px;
    top: 163px;
    

    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    
    padding-top: 150px;

}
.main-footer {
    max-width:1920px;
}

.vertical_title {
    width: 214.6699981689453px;
    height: 33px;
    top: 47px;
    left: 384px;
    

    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 50px;
    padding-top: 50px;
}

.read_more {
   
    width: 1140px;
    height: 325px;

font-family: Roboto;
font-size: 15px;
font-weight: 500;
line-height: 24px;


text-align: left;

color: #0D0D0DB2;
margin:150px 0px 0px 1175px;

}

.read_more_text{
    text-decoration: none;
}

.title {

    width: 452px;
height: 34px;
top: 1.2001953125px;
padding: 0px 0px 1px 0px;
border: 0px 0px 1px 0px;


}

.what_row {
    flex-direction: auto;
    display: flex;
}

.what{
    
 margin: auto;
    width: 1140px;
height: 325px;


}

.about_sql {
    width: 731.1699829101562px;
height: 17px;
top: 54px;
font-family: Roboto;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #0E0E0E;


}
.one_month {
    width: 230px;
    height: 20px;
    top: 33.81005859375px;
    

    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    
}

.price {
    width: 21.790000915527344px;
    height: 20px;
    top: 34px;
    

font-family: Roboto;
font-size: 14px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

color: #0E0E0E;


}
.button_free {
    width: Hug (192.98px);
    height: Hug (32px);
    top: 208px;
    padding: 8px 18.979995727539062px 8px 13px;
    border-radius: 6px;
    border: 1px;
    gap: 6px;
    color: #B6BCC3;

    

}

.text {


    font-family: Roboto;
font-size: 14px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0em;
text-align: center;


}

.one_month_text {
    width: 197.14999389648438px;
height: 17px;
top: 63.18994140625px;

font-family: Roboto;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

color: #0D0D0DB2;

}

.action_time {
    width: 173px;
height: 17px;
top: 3.420166015625px;

font-family: Roboto;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #0D0D0D99;


}

.title_sql {
    width: 567.760009765625px;
height: 133px;

font-family: Roboto;
font-size: 30px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

color: #0E0E0E;

text-decoration:underline ;
}