body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', serif;
    margin:0px auto;
    max-width:1920px;
  
}
.wrapper {
min-height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
}
.content {
max-width:1140px;
margin:0px auto;
}
.main-nav {
    width: 1920px;
   
}
.site-navigation {
    list-style-type: none;
}
li {
    display: inline;
}

.vertical_row{
    display: flex;
}
.contact_nav {
width: 66px;
height: 16px;
margin-top: 40px;
font-family: Roboto;
font-size: 14px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0em;
color: #FFFFFF;

text-decoration: none;
}
.blog_nav {
width: 31px;
height: 16px;
margin-top: 40px;
margin-left: 109px;
font-family: Roboto;
font-size: 14px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
margin: 50px;
text-decoration: none;
}
.site-navigation-button-free {
width: 192.98px;
height: 32px;
border-radius: 6px;
border: 1px;
gap: 6px;
}
.button-free-text {
width: 200px;
height: 16px;
padding-bottom: 24px;
font-family: Roboto;
font-size: 14px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
background-color: #000000;

border: 1px solid #B6BCC3;
padding-top: 10px;
border-radius: 6px;
margin-right: 10px;
margin-left: 420px;
}

.site-navigation-button-year{
width: 192.98px;
height: 32px;
border-radius: 6px;
border: 1px;
gap: 6px;
  
}

.button-year-text{
width: 200px;
height: 16px;
padding-bottom: 24px;
font-family: Roboto;
font-size: 14px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;;
background-color: #004077;
border: 1px ;

padding-top: 10px;
border-radius: 6px;

}

.survey {
  
width: 1920px;
height: 592px;
background: #000000;


}

.content {
width: 1140px;

}

.hero{
display: flex;



}

.hero_main_header_text {
width: 510px;
height: 96px;
font-family: Roboto;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
padding-top: 100px;
}

.hero_main_text {
    width: 274px;
    height: 25px;
 
    

    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    

color: #FFFFFF;
margin-bottom: 40px;
}

.one_year_free{
width: 226.02px;
height: 48px;
margin-top:70px;
border-radius: 8px;
background-color: #004077;

}

.one_year_free_text {


font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 20px;



color: #FFFFFF;

}

.questionnaire{
margin-top: 50px;
max-width: 1178px;
max-height: 869px;
margin: 0 auto;
padding-left:250px ;
padding-right:100px ;
box-shadow: 0px 2px 8px 0px #00000014;

box-shadow: 0px 8px 16px 0px #00000014;
background-color: #FFFFFF;


}
.blog-article-list li {
    display: inline;
}