body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', serif;
  
    
}


.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
flex-direction: column;
}

.steps {
    display: flex;
}

.first-step{
    flex:0 1 33%;
}

.second-step{
    flex:0 1 33%;
}

.tree-step {
    flex:0 1 33%;
}

.content {
    max-width:564px;
    margin:0px auto;
  flex: 1 1 auto;


}

.one-month {
    margin: 15px;
    flex:0 1 50%;

    background: #0B1F3512;
  width: 270px;
height: 48px;
padding: 0px 69.81000518798828px 0px 70.0199966430664px;
border-radius: 8px;


}

.text-month {
    font-family: Roboto;
font-size: 13px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #0B1F35;

}

.mobile-input {

    margin:15px;
    width: 564px;
height: 56px;

border-radius:4px 4px 0px 0px;
border:0px 0px 1px 0px;

background: linear-gradient(0deg, rgba(11, 31, 53, 0.07), rgba(11, 31, 53, 0.07)),
linear-gradient(0deg, rgba(13, 13, 13, 0.3), rgba(13, 13, 13, 0.3));
border-bottom: 1px solid #0D0D0D4D 30%;
}

.email-input{

    margin:15px;
    width: 564px;
height: 56px;

border-radius: 4px 4px 0px 0px;
border: 0px 0px 1px 0px;

background: linear-gradient(0deg, rgba(11, 31, 53, 0.07), rgba(11, 31, 53, 0.07)),
linear-gradient(0deg, rgba(13, 13, 13, 0.3), rgba(13, 13, 13, 0.3));
border-bottom: 1px solid #0D0D0D4D 30%;

}

.buttons {
    display: flex;

}

.one-year {
    margin: 15px;
    flex:0 1 50%;
width: 270px;
height: 48px;
left: 294px;
padding: 0px 65.94999694824219px 0px 66.16000366210938px;
border-radius: 8px;

background: #004077;

}
.text-year {
 
    font-family: Roboto;
font-size: 13px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;


}

.footer-content {
 
    top: 552px;
    left: 98px;
    padding: 16px 114.22000122070312px 16px 16px;
    border-radius: 4px;
    
   
  text-align: center;


}

h1 {
    text-align: center;
}
